@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Heading Style */
h1 {
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
}

h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
}

h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

/* COlOR STYLES  */
.Background {
    background: #FFFFFE;
}

.Secondary {
    background: #E3F6F5;
}

.Tertiary {
    background: #BAE8E8;
}

.Headline {
    color: #272343;
}

.Paragraph {
    color: #2D334A;
}

.Button {
    background: #FFD803;
    border: none;
    cursor: pointer;
}

.btn-text {
    color: #272343;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}

/* top navbar */
.top-nav {
    padding: 7px 0px 12px 0px;
    color: #2D334A;
}

.top-nav .top-nav-content {
    display: flex;
    justify-content: space-between;
}

.top-nav-content .top-nav-sub-content {
    display: flex;
}

.top-nav-sub-content .sub-links {
    color: #2D334A;
    display: flex;
    align-items: center;
}

.top-nav-sub-content .sub-links.second {
    padding-left: 49.5px;
}

.top-nav-sub-content .sub-links:hover {
    text-decoration: underline;
}

.tele::before {
    content: '';
    background: url("../images/telephone.png") no-repeat;
    width: 18px;
    height: 18px;
    padding-right: 4px;
    align-items: center;
}

.msg::before {
    content: '';
    background: url("../images/Message.png") no-repeat;
    width: 18px;
    height: 18px;
    padding-right: 4px;
    align-items: center;
}

.down-arrow::after {
    content: '';
    background: url("../images/down_arrow.png") no-repeat;
    width: 10px;
    height: 7px;
    margin-left: 4px;
}

/* navbar */
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar .nav-content {
    display: flex;
}

.nav-content>.nav-text {
    display: flex;
    padding: 25px;
}

.nav-content>.nav-text>li>a {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #272343;
    padding: 27px 14px;
}

.nav-content .nav-links {
    padding: 0px 12px;
}

.m-r-0 {
    padding-right: 0px !important;
}

.nav-text>li>a:hover {
    color: #FFD803;
}

/* banner */
.banner {
    display: flex;
    align-items: center;
}

.banner-left .summer {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 4px;
}

.banner-left .head-name {
    padding-bottom: 24px;
    padding-right: 14px;
}

.banner-left .tagline {
    padding-bottom: 54px;
}

.explore-btn {
    padding: 16px 32px;
    border-radius: 28px;
}

.facilities {
    display: flex;
    justify-content: space-around;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #BAE8E8;
}

.facilities .sub-facilities {
    text-align: center;
    padding-top: 72px;
    padding-bottom: 92px;
}

.sub-facilities .sub-facilities-head {
    padding-top: 16px;
    padding-bottom: 8px;
}

.sub-facilities .sub-facilities-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #878787;
}

/* Trendings */

.trending-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
}

.trending-items {
    color: #222222;
    display: flex;
    align-items: center;
    position: relative;
}

.trending-items .item-left {
    padding: 48px;
    padding-bottom: 64px;
}

.item-upper-right {
    position: absolute;
    bottom: 49px;
    right: 48px;
}

.item-flex-right {
    position: absolute;
    right: 24px;
}

.wd-252 {
    width: 252px;
}

.wd-196 {
    width: 196px;
}

.pd-top-59 {
    padding-top: 59px;
}

.item-left .item-name {
    line-height: 30px;
    padding-bottom: 12px;
}

.item-left .item-desc {
    padding-bottom: 40px;
}

.light-pink {
    background: #FAEEFF;
}

.gray {
    background: #EDEDED;
}

.trending-grid-container .third-item {
    background: #BAE8E8;
}

.rose-gold {
    background: #FFDDDC;
}

/* BEST SELLING */
.best-selling-backg {
    color: #222222;
}

.best-sell-header {
    text-align: center;
    padding-bottom: 44px;

}

.best-selling-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px 30px;
}


.selling-items .sell-product-img {
    position: relative;
    padding-bottom: 24px;
}

.sell-product-img .offer-discount {
    padding: 6px 12px;
    background: #FF4E00;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    position: absolute;
    top: 24px;
    right: 24px;

}

.sell-product-details .product-name {
    padding-bottom: 3px;
}

.sell-product-details .old-price {
    padding-right: 12px;
    text-decoration-line: line-through;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #878787;
}

.sell-product-details .offer-price {
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #EC0101;
}

.pb-80 {
    padding-bottom: 80px;
}

.feature-backg {
    text-align: center;
    color: #222222;
    padding-bottom: 195px;
}

.feature-header {
    padding-bottom: 44px;
}

.feature-category {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 488px;
    margin: auto;
    align-items: center;
    padding-bottom: 125px;
}

.feature-category .feature-items {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 25px;
}

.feature-category .items-selected {
    text-align: center;
    background: #272343;
    border-radius: 20px;
    color: #FFFFFE;
}

.feature-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px 30px;
}

.feature-items img {
    padding-bottom: 24px;
}

.feature-items h4 {
    padding-bottom: 3px;
}

.feature-items p {
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #878787;
}

.subscribe-banner-backg {
    margin-bottom: 204px;
}

.subscribe-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.subscribe-banner .banner-left {
    position: absolute;
    left: 0;
}


.subscribe-banner .banner-right {
    width: 365px;
    padding: 95px;
}

.banner-right .subscribe-header {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #272343;
    padding-bottom: 16px;
}

.banner-right .subscribe-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #2D334A;
    padding-bottom: 16px;
}

.banner-right .input-btn-subscribe {
    position: relative;
}

.banner-right .input-btn-subscribe input {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    background: #E3F6F5;
    border: 1px solid #2D334A;
    border-radius: 25px;
}

.banner-right .input-btn-subscribe button {
    position: absolute;
    right: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #272343;
    padding: 16px 32px;
    background: #FFD803;
    border: 1px solid #272343;
    border-radius: 28px;
}

/* Footer */


.footer-details {
    background: #F9F9F9;
    padding: 48px 0px;
}

.footer-details .footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-details .contact-us {
    color: #222222;
}

.footer-details .contact-us h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 30px;
}

.footer-details .contact-us a {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
}

.footer-details .contact-us ul>li {
    padding-bottom: 7px;
}

.footer-details .secured-by p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #878787;
    padding-bottom: 16px;
}

.footer-details .footer-links h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 30px;
}

.footer-details .footer-links a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #878787;

}

.footer-details .footer-links>ul>li {
    padding-bottom: 10px;
}

.footer-details .footer-links a:hover {
    text-decoration: underline;
}




.footer-bottom {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #878787;
    padding: 16px 0px;
}

.footer-bottom .footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-bottom .footer-links a {
    /* display: flex; */
    /* justify-content: space-between; */
    color: #878787;
    padding: 10px;
}

.footer-bottom .footer-links a:hover {
    text-decoration: underline;
}

/* MegaMenu */
.mega-menue {
    position: absolute;
    top: 120%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #FFFFFE;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
}

.smartphones {
    width: 568px;
}

.mobile-accessories {
    width: 1106px;
}

.nav-text>li:hover .mega-menue {
    top: 100%;
    opacity: 1;
    visibility: visible;
    padding: 32px 0px;
}

.nav-text>li>a:focus {
    background: violet;
}

.nav-text>li:hover a {
    color: #FFD803;
}

.mega-menue>.menu-items>h4 {
    line-height: 21px;
    padding-bottom: 12px;
}

.mega-menue>.menu-items>ul>li>a {
    color: #272343;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 8px;
}

.mega-menue>.menu-items>ul>li>a:hover {
    text-decoration: underline;
}

.mega-menue>.menu-items>ul>li {
    padding-bottom: 8px;
}