@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    margin: auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* top navbar */
.top-nav{
    padding: 7px 0px 12px 0px;
    color: #2D334A;
}
.top-nav .top-nav-content{
    display: flex;
    justify-content: space-between;
}
.top-nav-content .top-nav-sub-content{
    display: flex;
}
.top-nav-sub-content .sub-links{
    color: #2D334A;
    display: flex;
    align-items: center;
}
.top-nav-sub-content .sub-links.second{
    padding-left: 49.5px;
}
.top-nav-sub-content .sub-links:hover{
    text-decoration: underline;
}
.tele::before{
    content: '';
    background: url("../images/telephone.png") no-repeat;
    width: 18px;
    height: 18px;
    padding-right: 4px;
    align-items: center;
}
.msg::before{
    content: '';
    background: url("../images/Message.png") no-repeat;
    width: 18px;
    height: 18px;
    padding-right: 4px;
    align-items: center; 
}
.down-arrow::after{
    content: '';
    background: url("../images/down_arrow.png") no-repeat;
    width: 10px;
    height: 7px;
    margin-left: 4px;
}

/* navbar */

.navbar-backg{
    background: #E3F6F5; 
}
.navbar-backg .navbar{
    align-items: center ;
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
}
.navbar .nav-content{
    display: flex;
}

.nav-content .nav-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #272343;
    padding: 0px 14px;
}
.nav-content .nav-links{
    padding: 0px 12px;
}
.m-r-0{
    padding-right: 0px !important;
}
.nav-text:hover , .nav_links:hover{
    color: #FFD803;
}

